{% extends "account/base.html" %}
{% block content %}
<style>
  #form_div{
    width: 80%;
    margin: auto;
    margin-top:1%;
  }

</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Catalyst Media</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalyst:home' %}" >Upload Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'catalyst:search_records' %}" aria-current="page">Query Builder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalyst:list-user' %}" >Users</a>
          </li>
          {% if user %}
          <li>
            <a class="nav-link" href="{% url 'account_logout' %}"> Logout </a>
          </li>
           {% endif %}
        </ul> 
        
      </div>
    </div>
  </nav>


  {% comment %} <form id="search-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search Records</button>
</form> {% endcomment %}

<div id="result-count" class="alert alert-primary" role="alert" style="display:none;">
  <div style="display:flex;">
    Result Count: &nbsp; <p id="count"></p>
    <button id="close-button" style="margin-left:auto;width: 2em;">X</button>
  </div>


</div>

<div id="form_div">
<form id="search-form" >
  <div class="mb-3">
    <label for="id_name" class="form-label">Keyword</label>
    {{ form.name }}    
  </div>
  <div class="mb-3">
    <label for="id_industry" class="form-label">Industry</label>
    {{ form.industry }}    
  </div>
  
  <div class="mb-3">
    <label for="id_locality" class="form-label">Loocality</label>
    {{ form.locality }}
  </div>

  <div class="mb-3">
    <label for="id_country" class="form-label">Country</label>
    {{ form.country }}
  </div>
  <div class="mb-3">
    <label for="id_employee_from" class="form-label">Employee From</label>
    {{ form.employee_from }}
  </div>
  <div class="mb-3">
    <label for="id_employee_to" class="form-label">Employee To</label>
    {{ form.employee_to }}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>




{%endblock%}

{% block scriptblock %}
<script>
  $(document).ready(function() {
    $("#search-form").on("submit", function(e) {
        e.preventDefault();
        const formData = $(this).serialize();
        


        $.ajax({
            type: "GET",
            url: "/api/companies/count/",
            data: formData,
            success: function(response) {
                $("#count").text(response.count);
                $('#result-count').show();
            },
            error: function(error) {
                console.error("Error fetching data:", error);
            }
        });
    });
});

function hide_result(){
  $('#result-count').hide()
}


// Add click event listener to the close button
$("#close-button").on("click", function() {
  $('#result-count').hide();  // Hide the result-count element
});
</script>

{% endblock %}
