{% extends "account/base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Catalyst Media</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalyst:home' %}" >Upload Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'catalyst:search_records' %}" aria-current="page">Query Builder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
          {% if user %}
          <li>
            <a class="nav-link" href="{% url 'account_logout' %}"> Logout </a>
          </li>
           {% endif %}
        </ul> 
        
      </div>
    </div>
  </nav>


  <form id="search-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search Records</button>
</form>
<p id="result-count">Result Count: <span id="count"></span></p>


{%endblock%}

{% block scriptblock %}
<script>
  $(document).ready(function() {
    $("#search-form").on("submit", function(e) {
        e.preventDefault();
        const formData = $(this).serialize();
        {% comment %} const encodedData = formData.replace(/([^=&]+)=([^&]*)/g, (_, key, value) => {
          return `${encodeURIComponent(key)}=${encodeURIComponent(value)}`;
      });

      console.log('formData==',encodedData); {% endcomment %}

        $.ajax({
            type: "GET",
            url: "/api/companies/count/",
            data: formData,
            success: function(response) {
                $("#count").text(response.count);
            },
            error: function(error) {
                console.error("Error fetching data:", error);
            }
        });
    });
});
</script>

{% endblock %}
